@model CVTTest.Domain.ContactList.ContactInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление записи доп. информации</h2>

<h3>Вы уверены?</h3>
<div>
    <h4>По контакту @ViewBag.FullName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditinalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditinalInfo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index", new { id = Model.PersonId })
        </div>
    }
</div>
